body {
	background-image: url("wireframes/unit2wireframe_1.png");
  background-size: cover;
}
section {
	border-bottom:1px #fff solid;
	margin:0 auto 0 auto;
	width:600px;
	background-image: url("wireframes/unit2wireframe_1.png");
	background-size: cover;
}
h3, ul, li {
	color: #000000;
}
#slogan {
	font-style: italic;
}
ul {
	list-style-type:none;
}
img {
	display:block;
	margin:0 auto 0 auto;
	width:600px;
}
img.logo {
	width:200px;
}
