body {
	background-color: rgba(0,0,0,.42);
	text-align: center;
}

h1, h2, p {
	color: #ffffff;
}


h3, ul, li {
	color: #000000;

}


#slogan {
	font-style: italic;
}

hr{
	width: 600px;

}

ul {
	list-style-image: url('caseyaltmandesign-web-logo.png' width: 5px; height: 5px;)
}