body {
	background-color: rgba(0,0,0,.4);
	text-align: center;
	margin: 200px;
}

h1, h2, p {
	color: #ffffff;
}

h3, ul, li {
	color: #000000;

}


#slogan {
	text-decoration: italics;
}

hr{
	width: 600px;

}