@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Cutive+Mono|Bad+Script|Rock+Salt|Inconsolata:400,700);
/*E9F0FF (Silver)
31269E (blue)
FF9250 (orange)
FFFFFF (white)
font-family: 'Permanent Marker', cursive;
font-family: 'Cutive Mono', ;
font-family: 'Bad Script', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Inconsolata', ;
font-family: 'Oswald', sans-serif; 400,300,700*/

*{margin:0;padding:0;box-sizing:border-box;}

body {
	background-color: #FF9250;
}

header.clearfix {
	background-color: rgba(255,255,255,.5);
	padding: 2em;
	margin:2em;
}

div.logotitle {
	float:left;
	display:block;
	width: 45%;
}

nav {
	float:right;
	display:inline-block;
	margin-top:3em;
}

a {
	font-family:'Inconsolata';
	font-size:1.5em;
	color:#FF9250;
	text-decoration:none;
	display:block;
	padding: 10px;
	width: 200px;
	float: right;
	text-align:right;
}

a:hover {
	background-color: #FF9250;
	color: #E9F0FF;
}

section {
	width:auto;
}


#services-grid {

}

#article1, #article2, #article3, #article4, #article5, #article6 {
	display:inline-block;
	float: left;
	width:45%;
	background-color:rgba(255,255,255,.5);
	padding: 2em;
	margin:2em;
}

#article1:hover {
	background-color: #E9F0FF;
	font-color: #FF9250;
}

#article2:hover {
	background-color: #E9F0FF;
	font-color: #FF9250;
}

#article3:hover {
	background-color: #E9F0FF;
	font-color: #FF9250;
}

#article4:hover {
	background-color: #E9F0FF;
	font-color: #FF9250;
}

#article5:hover {
	background-color: #E9F0FF;
	font-color: #FF9250;
}

#article6:hover {
	background-color: #E9F0FF;
	font-color: #FF9250;
}
#about {
	display:inline-block;
	background-color:rgba(255,255,255,.5);
	padding: 2em;
	margin:2em;

}

footer {
	display:inline-block;
	background-color:rgba(255,255,255,.5);
	padding: 2em;
	margin:2em;
	width:95%;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #FF9250;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	line-height:1.8em;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;

}

p {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #31269E;
}

ul {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
	list-style: circle;
	list-style-position: inside;
	line-height: 2em;
}

li {
	color:#31269E;

}

img {
	float:inherit;
}

#pagetitle {
	font-family: 'Cutive Mono';
	font-size: 80px;
	line-height: 2em;
}



.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}